---
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import Features3 from '~/components/widgets/Features3.astro';

import pageImage from '~/assets/images/fullsized/tastersseriesgroup-1.jpg';

const metadata = {
  title: "Jack Daniel's Tennessee Tasters' and Distillery Series Releases",
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Special Releases from Jack Daniel's"
    image={{
      src: pageImage,
      alt: "Jack Daniel's Tennessee Tasters' / Distillery Series Releases.",
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Jack Daniel's Tennessee Tasters' and Distillery Series Releases</span>
    </Fragment>

    <Fragment slot="subtitle">
      In 2018 Jack Daniel's started releasing a series of 375ml bottles under the Tennessee Tasters' Selection labelling. With the change of Master Distillers they rebranded the releases as the Distillery Series. This page contains a list and links to bottles that are included in the combination of the Tennessee Tasters' and Distillery series releases from Jack Daniel's Distillery. There have been 14 releases to date.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Quick Facts"
    stats={[
      { title: 'First Release', amount: '2018' },
      { title: 'Number Of Bottles', amount: '14' },
      { title: 'Available in', amount: 'TN' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Tennessee Tasters' Selection"
    subtitle="A curated selection of iconic releases"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: "High Angel’s Share Barrels (2018)",
        description:
          "107-proof whiskey with deep flavors due to higher evaporation.",
        icon: 'tabler:bottle',
        link: '/highangelsshare',
      },
      {
        title: 'Hickory Smoked (2018)',
        description:
          " Finished with charred hickory staves, offering smoky flavor.",
        icon: 'tabler:bottle',        
        link: '/hickorysmoked',
      },
      {
        title: 'Barrel Reunion #1 (2019)',
        description:
          "Finished in wine barrels with notes of vanilla and toasted oak.",
        icon: 'tabler:barrel',
        link: '/barrelreunion1',
      },
      {
        title: 'Barrel Proof Rye (2019)',
        description:
          "A 127.6-proof rye with complex fruity flavors.",
        icon: 'tabler:bottle',
        link: '/tennesseetastersbarrelproofrye',  
      },
      {
        title: 'Barrel Reunion 2 (2020)',
        description:
          "a Middle Tennessee craft brewery finished their oatmeal stout using our barrels",
        icon: 'tabler:bottle',
        link: '/barrelreunion2',  
      },
      {
        title: 'Jamaican Allspice (2020)',
        description:
          "Features Jamaican allspice wood for a fruit-forward flavor profile.",
        icon: 'tabler:barrel',
        link: '/jamaicanallspice',  
      },
      {
        title: '14E19 ‘Twin’ Blend Whiskey (2020)',
        description:
          "Straight Tennessee Whiskey blended with Straight Tennessee Rye Whiskey",
        icon: 'tabler:barrel',
        link: '/twinblend',  
      },
    ]}
  />

  
  <Features3
    title="Distillery Series"
    subtitle="Ditching the Tennessee Tasters' series branding, it was replaced with the Distillery series, with slightly taller bottles."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: "Maple Barrel Rye (2022)",
        description:
          "",
        icon: 'tabler:bottle',
        link: '/distilleryseries008',
      },
      {
        title: 'Toasted Oak Barrel Rye (2022)',
        description:
          "",
        icon: 'tabler:bottle',        
        link: '/distilleryseries009',
      },
      {
        title: 'Pecan Wood (2022)',
        description:
          "",
        icon: 'tabler:barrel',
        link: '/distilleryseries010',
      },
      {
        title: 'Anejo Tequila Barrels (2022)',
        description:
          "",
        icon: 'tabler:bottle',
        link: '/distilleryseries011',  
      },
      {
        title: 'Oloroso Sherry Casks (2023)',
        description:
          "",
        icon: 'tabler:bottle',
        link: '/distilleryseries012',  
      },
      {
        title: 'Twice Barreled Tennessee Straight Rye Whiskey (2024)',
        description:
          "",
        icon: 'tabler:barrel',
        link: '/2024/distilleryseries013',  
      },
      {
        title: 'Tennessee Straight Rye Whiskey Finished in High Toast Maple Barrels (2024)',
        description:
          "",
        icon: 'tabler:barrel',
        link: '/2024/distilleryseries014',  
      },
    ]}
  />

</Layout>
